@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Order>
@inject UserManager<RegisterApp> _userManager;
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-lg-6">
            <h2 class="text-primary">Available Orders</h2>
        </div>
        <div class="col-lg-6 text-lg-end">
            <a asp-controller="Deliver" asp-action="TakedOrder"  class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; See your orders
            </a>
        </div>
    </div>
    <br /><br />
    <div class="container">
        <div class="table-responsive table-responsive-sm">
            <table class="table table-bordered table-striped">
                <thead class="text-center">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Type</th>
                        <th scope="col">Recipient</th>
                        <th scope="col">Pick Up Location</th>
                        <th scope="col">Drop Off Location</th>
                        <th scope="col">Comments</th>
                        @if (User.IsInRole("Admin"))
                        {
                            <th scope="col">Client Username</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.Id</td>
                            <td>@obj.TypeOfCategories</td>
                            <td>@obj.NameOfRecipient</td>
                            <td>@obj.PickUpLocation</td>
                            <td>@obj.DropOffLocation</td>
                            <td>@obj.Comments</td>
                            @if (User.IsInRole("Admin"))
                            {
                                var user = await _userManager.FindByIdAsync(obj.RegisterAppId);
                                if (user != null)
                                {
                                    <td>@user.UserName</td>
                                }
                            }
                            <td>
                                <div class="btn-group d-flex justify-content-center" role="group">
                                    @{
                                        if (!obj.IsTaken)
                                        {
                                            <a asp-controller="Deliver" asp-action="TakeOrder" asp-route-id="@obj.Id" class="btn btn-primary m-2">
                                                <i class="bi bi-pencil-square"></i> Take Order
                                            </a>

                                        }
                                        else
                                        {
                                            <a   class="btn  text-muted m-2" disabled>
                                                 Already Taken
                                            </a>
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
