@model Order

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<form id="OrderToCreate" method="post" asp-controller="Home" asp-action="CreateOrderInSeparatedPage" style="background-color:#C5D5D9"
      class="col-md-6 g-3 gx-5 needs-validation  pt-4 pb-2 my-4 mx-auto rounded" novalidate>

    <div class="col-md-8 pb-3">
        <div class="col-md-6 ">
            <!-- <label for="selectedType" class="form-label bg-primary">Type</label> -->
            <select asp-for="@Model.TypeOfCategories" id="selectedType" class="form-select rounded-pill" required>
                <option value="" selected disabled>Select Type</option>
                <option asp-selected="@Model.TypeOfCategories == 'Electronics'">Electronics</option>
                <option value="Clothing and fashion" asp-selected="@Model.TypeOfCategories == 'Clothing and fashion'">Clothing and fashion</option>
                <option value="Food and groceries" asp-selected="@Model.TypeOfCategories == 'Food and groceries'">Food and groceries</option>
                <option value="Home and household" asp-selected="@Model.TypeOfCategories == 'home and household'">Home and household</option>
                <option value="Health and beauty" asp-selected="@Model.TypeOfCategories == 'health and beuty'">Health and beauty</option>
                <option value="Office supplies" asp-selected="@Model.TypeOfCategories == 'office supplies'">Office supplies</option>
                <option value="Automotive" asp-selected="@Model.TypeOfCategories == 'Automotive'">Automotive</option>

            </select>
        </div>
        <div class="col-md-6 p-2 ">
            <label asp-for="@Model.OrderDate">Order Date:</label>
            <input asp-for="@Model.OrderDate" class="form-control rounded-pill" type="datetime-local" id="OrderDate" name="OrderDate"
                   class="form-control">
        </div>
    </div>
    <div class="col-md-6 ">
        <input asp-for="@Model..NameOfRecipient" type="text" class="form-control rounded-pill" id="NameOfRecipient" placeholder="Name of recipient"
               required>
        <div class="valid-feedback">
            looks good
        </div>
    </div><br>

    <div class="col-12 ">
        <input asp-for="@Model.PickUpLocation" type="text" class="form-control rounded-pill" id="PickUpLocation" placeholder="PickUpLocation"
               required>
        <div class="valid-feedback">
            looks good
        </div>
    </div><br>
    <div class="col-12 ">
        <input asp-for="@Model.DropOffLocation" type="text" class="form-control rounded-pill" id="DropOffLocation" placeholder="Drop-off Location"
               required>
        <div class="valid-feedback">
            looks good
        </div>
    </div><br>


    <div class="col-12 ">

        <textarea  asp-for="@Model.Comments" class="form-control rounded-pill" id="exampleFormControlTextarea1" rows="1"
                placeholder="Comments" required></textarea>


    </div><br>
    <div class="col-12">
        <button type="submit" class="btn btn-warning rounded-pill">Submit</button>
    </div>

</form>